body{
    margin: 40px;
    background-color: hsla(0, 0%, 60%, 1);
    background-image: radial-gradient(circle at 0% 50%, hsla(112, 37%, 91%, 1) 0%, transparent 50%), radial-gradient(circle at 40% 20%, hsla(27, 0%, 86%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 0%, hsla(189, 0%, 100%, 1) 0%, transparent 50%), radial-gradient(circle at 80% 50%, hsla(89, 100%, 92%, 1) 0%, transparent 50%);
    background-blend-mode: normal, normal, normal, normal;
}

h1 {
    text-align: center;
    text-decoration: solid;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}

p {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.imagen1{
  display: flex;
  align-items: center;
  gap: 40px; 
}

img {
  width: 400px;
  height: 250px;
  padding: 20px;
  background-color: aliceblue;
  transition:0.5s;

}

.texto {
  max-width: 400px;
}

.creacion {
  display: flex;
  align-items: center;
  gap: 40px;
}

img {
  width: 400px;
  height: 250px;
  border-radius: 50px;
}

h2 {
    text-align: center;
    font-size: 30px;
}

.estilo {
    text-align: justify;
}

img:hover {
    color: orangered;
    background-color: hsla(185, 0%, 100%, 1);
    background-image: radial-gradient(circle at 91% 11%, hsla(66, 100%, 88%, 0.66) 4.038772213247173%, transparent 37.2265767974114%), radial-gradient(circle at 66% 37%, hsla(16, 100%, 88%, 1) 0%, transparent 63.33640956108327%), radial-gradient(circle at 36% 87%, hsla(0, 100%, 88%, 0.84) 12.107536057085522%, transparent 63.33640956108327%);
    background-blend-mode: normal, normal, normal;
    transform:scale(1.03);
    box-shadow: 0 0 60px orangered;
}
